.links{
    color: black;
    border: 1px solid;
    text-decoration: none;
}
.td_border{
    border: 1px solid;
    text-align: center;
    width: 150px;
}
.tables_style{
    border-collapse: collapse;
    background-color: azure;
}
.table1{
    margin:0 auto;
}
.tr3{
    margin:0 auto;
}